body {
  background-color: rgb(255, 243, 205);
}

h1 {
  text-align: center;
  color: rgb(108, 117, 125);
  margin: 50px auto;
}

h2 {
  text-align: center;
  color: rgb(108, 117, 125);
  margin: 50px auto;
  font-size: 100px;
}

.h1 {
  font-size: 100px;
}

.subtitle {
  font-size: 30px;
}

p {
  display: block;
  background: rgb(207, 244, 252);
  padding: 50px;
  margin: 50px;
  border-radius: 16px;
}

.eggnog-photo {
  border-radius: 7px;
}

img {
  display: flex;
  margin: 50px auto;
}

footer {
  display: block;
  text-align: center;
}

a {
  margin: 20px;
  text-decoration: none;
  color: gray;
}

a:hover {
  text-decoration: underline;
}
